/* custom property */
:root {
    --global-color-1: #931420;
    --background-color-1: #fffded;
}

* {
    margin: 0;
    padding: 0;
}

/* the styles for the elements */
html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px; /* Step 3 */
    margin: 0 auto;
    border: 3px solid var(--global-color-1);
    background-color: var(--background-color-1);
}

a:focus, a:hover {
    font-style: italic;
}

/* the styles for the header */
header {
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%); /* step 13 */
    border-bottom: 3px solid var(--global-color-1);
    padding-top: 0.5em;
    padding-bottom: 2em;
}

header img {
    float: left;
    padding-right: 30px;
    padding-left: 30px;
}

header h2 {
    font-size: 175%;
    color: var(--global-color-1);
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 2px 2px 2px var(--global-color-1);
}

/* the styles for the main content */
section {
    width: 525px; /* Step 3 */
    float: right; /* Step 3 */
    padding-right: 20px; /* Step 4 */
    padding-left: 20px; /* Step 4 */
    padding-bottom: 20px; /* Step 4 */
}

aside {
    width: 215px; /* Step 3 */
    float: right; /* Step 3 */
    padding-left: 20px; /* Step 4 */
    padding-bottom: 20px; /* Step 4 */
}

section h2,
aside h2 { /* Step 5 */
    color: var(--global-color-1);
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

/* Speaker of the Month */
main article img { /* Step 7 */
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 1px solid black;
}

main h1 { /* Step 6 */
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
    border-top: 3px solid var(--global-color-1);
    border-bottom: 3px solid var(--global-color-1);
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

/* the styles for the footer */
footer {
    background-color: var(--global-color-1);
    clear: both; /* Step 3 */
}

footer p {
    text-align: center;
    padding: 1em 0;
    color: white;
}